.nav {
    background-color: var(--nav-background-color);
    height: 3.5rem;
    border-bottom: 1px solid var(--nav-footer-border);
}

.brandImage {
    margin: 0 0.5rem 0 0.5rem;
}

.navbar-toggler-icon {
    display: none;
}

.toggleButton{
    font-size: 1.8rem;
    color: var(--navlink-color);
}

.themeButton, .themeButtonOnCollapse {
    background-color: var(--nav-background-color);
    border: 0;
    font-size: 1.5rem;
    color: var(--text-color);
}

.sideLinks {
    display: none;
}

.titleLink,.navLink,.navDropdown, .loginLink {
    color: var(--navlink-color);
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--footer-font);
}

.titleLink {
    font-weight: 600;
}

.titleLink:hover, .titleLink:focus {
    color: var(--navlink-color);
}


.navLink:hover,.navLink:focus, .navLink:active, .loginLink:hover, .loginLink:focus {
    cursor: pointer;
    color: var(--text-color);
}

.navDropdown, .navDropdownMenu, .offcanvasNav {
    background-color: var(--nav-background-color);
    color: var(--text-color);
}

.modalInputContainer, .modalInputContainer:focus {
    margin: 1rem;
    width: 29rem;
    background-color: var(--nav-background-color);
    color: var(--text-color);
    font-size: 1rem;
}

.loginHeader, .modalInput, .modalInput:focus, .loginBody {
    background-color: var(--nav-background-color);
    color: var(--text-color);
}

.loginBody > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-background-color);
    color: var(--text-color);
    padding: 0;
}

@media screen and (max-width: 992px) {
    .nav {
        padding: 0;
        overflow-x: hidden;
    }

    .sideLinks {
        display: flex;
        flex-direction: column;
    }

    .themeButton {
        display: none;
    }

    .toggleButton {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .modalInputContainer {
        width: 23rem;
    }

    .toggleButton {
        margin-right: 0.5rem;
    }
}