.exampleContainer {
    background-color: var(--background);
    color: var(--text-color);
}

.heading {
    padding-top: 5rem;
    padding-left: 16rem;
}

.commonContainer {
    padding: 2rem;
    padding-left: 17rem;
    padding-right: 3rem;
    background-color: var(--background);
    font-size: 1rem;
}

.buttonContainer, .cardContainer , .toastContainer {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 6rem;
}

.checkbox {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.form-check-input{
    background-color: var(--input-background-color);
}

.floatingInputContainer, .inputContainer {
    color: var(--text-color);
    background-color: var(--input-background-color);
    border: 0;
    width: 20rem;
}

.form-floating > .form-control:focus ~ label {
    color: var(--text-color);
}

.form-floating > .form-control:focus ~ label::after {
    background-color: var(--input-background-color);
}

.dropDownMenu, 
.dropDownMenu:focus, 
.dropDownItem:hover, 
.floatingInput, 
.floatingInput:focus, 
.inputElement, 
.inputElement:focus,
.modalClass,
.textAreaInput,
.textAreaInput:focus {
    color: var(--text-color);
    background-color: var(--input-background-color);
    border: 0.1rem solid var(--sidebar-border-color);
    font-size: 1rem;
}

.dropDownItem, .dropDownMenu::placeholder, .inputElement::placeholder, .textAreaInput::placeholder {
    color: var(--text-color);
}

.imageClass {
    height: 20rem;
    width: 15rem;
    margin-left: 20rem;
    margin-top: 2rem;
    background-color: var(--background);
}

.imgDiv {
    height: calc(100% - 6.5rem);
}

.imgContainer {
    display: flex;
    background-color: var(--background);
}

.imgElement {
    display: flex;
    flex-direction: column;
}

.imgSubHeading {
    padding: 1rem 0.5rem 0.5rem 25rem;
    color: var(--text-color);
}

.spinner {
    height: 12rem;
    width: 12rem;
}

.form-switch .form-check-input:not(:checked):not(:focus) {
    background-image: var(--toggle-image-urL);
}

.textAreaContainer {
    width: 20rem;
}

.textAreaInput {
    height: 10rem;
    min-height: 5rem;
    max-height: 25rem;
}

.toast {
    margin: 1rem;
}

.toggleSwitch {
    font-size: 2rem;
}

@media screen and (max-width: 992px)  {
    .heading {
        padding-left: 3rem;
        padding-top: 5rem;
    }
    
    .commonContainer {
        padding: 3rem;
    }

    .buttonContainer, .cardContainer, .imgContainer, .toastContainer {
        flex-direction: column;
    }

    .button, .card {
        margin: 1rem;
    }

    .imgDiv {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .imageClass {
        margin-left: 20rem;
        height: 10rem;
        width: 7.5rem;
    }

    .imgSubHeading {
        padding: 1rem 0.5rem 0.5rem 21rem;
    }
    
    .subHeading {
        padding-left: 11rem;
    }

    .spinner {
        height: 10rem;
        width: 10rem;
    }

    .toast {
        margin: 0.4rem;
    }
}

@media screen and (max-width: 480px) {
    .floatingInputContainer, .inputContainer {
        width: 15rem;
    }

    .imageClass {
        margin-left: 9rem;
        height: 10rem;
        width: 7.5rem;
    }

    .imgSubHeading {
        padding: 1rem 0.5rem 0.5rem 10rem;
    }

    .spinner {
        height: 8rem;
        width: 8rem;
    }

    .toggleSwitch {
        font-size: 1.5rem;
    }
}