.exampleContainer {
    background-color: var(--background);
    color: var(--text-color);
}

.heading {
    margin-top: 5rem;
    margin-left: 16rem;
}

.commonContainer {
    margin-top: 2rem;
    margin-left: 17rem;
    margin-right: 3rem;
}

.checkbox {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.imageClass {
    height: 20rem;
    width: 15rem;
    margin-left: 20rem;
    margin-top: 2rem;
}

.imgContainer {
    display: flex;
    background-color: var(--background);
}

.imgElement {
    display: flex;
    flex-direction: column;
}

.subHeading {
    margin-left: 25rem;
    margin-top: 2rem;
    color: var(--text-color);
}

@media screen and (max-width: 768px)  {
    .heading {
        margin-left: 3rem;
        margin-top: 5rem;
    }
    
    .commonContainer {
        margin-left: 3rem;
    }

    .imageClass {
        margin-left: 10rem;
        height: 10rem;
        width: 7.5rem;
    }
    
    .imgContainer {
        flex-direction: column;
    }

    .subHeading {
        margin-left: 12rem;
    }
}