.floatingLabelInputClass {
    margin-left: 30rem;
    margin-top: 2rem;
    width: 25rem;
    height: 10rem;
}

@media screen and (max-width: 768px) {
    .floatingLabelInputClass {
        margin-left: 10rem;
        width: 15rem;
    }
}