.imageClass {
    height: 20rem;
    width: 15rem;
    margin-left: 20rem;
    margin-top: 2rem;
}

@media screen and (max-width: 1000px) {
    .imageClass {
        margin-left: 10rem;
        height: 10rem;
        width: 7.5rem;
    }
}