.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
}

.errorMessage {
    font-size: 7rem;
}

@media screen and (max-width: 992px) {
    .errorMessage {
        font-size: 6rem;
    }
}

@media screen and (max-width: 480px) {
    .errorMessage {
        font-size: 4rem;
    }
}