:root { 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: '100%';
    overflow-x: hidden;
    font-size: '62.5%';
    background-color: var(--background);

    /* colors */
    --background: #fff;
    --text-color: #000;
    --footer-background: #ebedf0;
    --sidebar-background: #F9F9F9;
    --sidebar-link-hover: #D8D9DA;
    --sidebar-border-color: #dadde1;
    --nav-background-color: #fff;

    /* background-image */
    --toggle-image-urL: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E");
}

[data-theme="light"] {
    --background: #fff;
    --text-color: #000;
    --footer-background: #ebedf0;
    --sidebar-background: #E7E9EB;
    --sidebar-link-hover: #D8D9DA;
    --sidebar-border-color: #dadde1;
    --nav-background-color: #fff;
    --toggle-image-urL: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E");
}

[data-theme="dark"] {
    --background: #1F262E;
    --text-color: #fff;
    --footer-background: #2b3035;
    --sidebar-background: #1F262E;
    --sidebar-link-hover: #ffffff1a;
    --sidebar-border-color:#adb5bd;
    --nav-background-color: #101418;
    --toggle-image-urL: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(255, 255, 255, 0.25)'/%3E%3C/svg%3E");
}

body {
    font-size: 1.6rem;
    background: var(--background);
}