.sideLinks {
    display: none;
}

.navLink {
    color: white;
}

.navLink:hover {
    color: white;
}

@media screen and (max-width: 768px) {
    .sideLinks {
        display: flex;
        flex-direction: column;
    }
}