.nav {
    background-color: var(--nav-background-color);
    height: 3.5rem;
    border-bottom: 1px solid var(--nav-footer-border);
}

.navbar-toggler-icon {
    display: none;
}

.toggleButton{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--navlink-color);
}

.themeButton, .themeButtonOnCollapse {
    background-color: var(--nav-background-color);
    border: 0;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: var(--text-color);
}

.sideLinks {
    display: none;
}

.titleLink,.navLink, .loginLink {
    color: var(--navlink-color);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--footer-font);
}

.titleLink {
    font-size: 1.8rem;
    font-weight: 600;
}

.titleLink:hover, .titleLink:focus {
    color: var(--navlink-color);
}

.loginLink, #uikitlink {
    padding-top: 1rem;
}

.navLink:hover,.navLink:focus, .navLink:active, .loginLink:hover, .loginLink:focus {
    cursor: pointer;
    color: var(--text-color);
}

#navbarScrollingDropdown, .navDropdownMenu, .dropdown-menu.show, #navbar-offcanvas {
    background-color: var(--nav-background-color);
    color: var(--text-color);
}

#navbarScrollingDropdown {
    padding-top: 1rem;
}

.modalInputContainer, .modalInputContainer:focus {
    margin: 0.8rem;
    width: 90%;
    background-color: var(modalInputContainer);
    color: var(--text-color);
    font-size: 1rem;
}

.loginHeader, .modalInput, .modalInput:focus {
    background-color: var(--nav-background-color);
    color: var(--text-color);
}

.loginBody {
    background-color: var(--nav-background-color);
    color: var(--text-color);
    padding: 0;
}

#floatingInput > .form-control:focus ~ label {
    color: var(--text-color);
}

#floatingInput > .form-control:focus ~ label::after {
    background-color: var(--nav-background-color);
}

.loginFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-background-color);
    color: var(--text-color);
    height: 5rem;
}

@media screen and (max-width: 992px) {
    .titleLink {
        font-size: 1.5rem;
    }

    .sideLinks {
        display: flex;
        flex-direction: column;
    }

    .themeButton {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .titleLink {
        font-size: 1.5rem;
    }

    .sideLinks {
        display: flex;
        flex-direction: column;
    }

    .themeButton {
        display: none;
    }
}