.dropdown-menu.show, 
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-control:focus~label::after{ 
    background-color: var(--nav-background-color);
    color: var(--text-color);
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    color: var(--text-color);
}

#navbarScrollingDropdown {
    color: var(--text-color);
}